<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mljr.heil.mapper.SerFinDealerMapper" >
  <resultMap id="BaseResultMap" type="com.mljr.heil.entity.SerFinDealer" >
    <id column="rule_seq" property="ruleSeq" jdbcType="INTEGER" />
    <id column="dealer_code" property="dealerCode" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    rule_seq, dealer_code, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.mljr.heil.base.entity.BaseDealerRes" >
    select 
    <include refid="Base_Column_List" />
    from ca_ser_fin_dealer
    where rule_seq = #{ruleSeq,jdbcType=INTEGER}
      and dealer_code = #{dealerCode,jdbcType=INTEGER}
  </select>

  <delete id="deleteByParams" parameterType="com.mljr.heil.form.SerFinDealerForm" >
    delete from ca_ser_fin_dealer
    where rule_seq = #{ruleSeq,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="com.mljr.heil.base.entity.BaseDealerRes" >
    delete from ca_ser_fin_dealer
    where rule_seq = #{ruleSeq,jdbcType=INTEGER}
      and dealer_code = #{dealerCode,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mljr.heil.entity.SerFinDealer" >
    insert into ca_ser_fin_dealer (rule_seq, dealer_code, update_time
      )
    values (#{ruleSeq,jdbcType=INTEGER}, #{dealerCode,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mljr.heil.entity.SerFinDealer" >
    insert into ca_ser_fin_dealer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ruleSeq != null" >
        rule_seq,
      </if>
      <if test="dealerCode != null" >
        dealer_code,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ruleSeq != null" >
        #{ruleSeq,jdbcType=INTEGER},
      </if>
      <if test="dealerCode != null" >
        #{dealerCode,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mljr.heil.entity.SerFinDealer" >
    update ca_ser_fin_dealer
    <set >
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where rule_seq = #{ruleSeq,jdbcType=INTEGER}
      and dealer_code = #{dealerCode,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mljr.heil.entity.SerFinDealer" >
    update ca_ser_fin_dealer
    set update_time = #{updateTime,jdbcType=TIMESTAMP}
    where rule_seq = #{ruleSeq,jdbcType=INTEGER}
      and dealer_code = #{dealerCode,jdbcType=INTEGER}
  </update>
  <insert id="batchInsert" parameterType="java.util.List">
    insert into ca_ser_fin_dealer (rule_seq, dealer_code, update_time) values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.ruleSeq}, #{item.dealerCode},CURRENT_TIMESTAMP )
    </foreach>

  </insert>

  <insert id="batchInsertIgnore" parameterType="java.util.List">
    insert ignore into ca_ser_fin_dealer (rule_seq, dealer_code, update_time) values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.ruleSeq}, #{item.dealerCode},CURRENT_TIMESTAMP )
    </foreach>

  </insert>

  <delete id="batchDelete" parameterType="java.util.List">
    delete from ca_ser_fin_dealer
    where rule_seq in
    <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
      #{item.ruleSeq}
    </foreach>
    and dealer_code in
    <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
      #{item.dealerCode}
    </foreach>
  </delete>
</mapper>